<div>
  <button class="btn btn-success" (click)="agregarLente()">
    Agregar lente
  </button>
</div>
<div class="flexbox">
  <p-table
    #dt
    class="pt-2"
    selectionMode="single"
    [columns]="cols"
    [value]="elementos"
    [(selection)]="selecteditems"
    columnResizeMode="expand"
    [responsive]="true"
    scrollHeight="400px"
    [scrollable]="true"
    (onRowSelect)="onRowSelect($event)"
    styleClass="p-datatable-sm  p-datatable-gridlines"
    [loading]="loading"
    [showLoader]="true"
    loadingIcon="fas fa-spinner fa-2x icon-color-green"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th
          *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          [ngStyle]="{ width: col.width }"
        >
          {{ col.header }}
          <p-sortIcon
            [field]="col.field"
            ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"
          ></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input
            class="form-control col-md-12 form-control-sm"
            *ngSwitchCase="'tipo'"
            pInputText
            type="text"
          />
          <input
            class="form-control col-md-12 form-control-sm"
            *ngSwitchCase="'dioptria'"
            pInputText
            type="text"
          />
          <input
            class="form-control col-md-12 form-control-sm"
            *ngSwitchCase="'lote'"
            pInputText
            type="text"
          />
          <input
            class="form-control col-md-12 form-control-sm"
            *ngSwitchCase="'fecha_vencimiento'"
            pInputText
            type="text"
          />
          <input
            class="form-control col-md-12 form-control-sm"
            *ngSwitchCase="'proveedor'"
            pInputText
            type="text"
          />
          <input
            class="form-control col-md-12 form-control-sm"
            *ngSwitchCase="'estado'"
            pInputText
            type="text"
          />
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-elementos>
      <tr style="height: 28px">
        <td style="width: 20%">{{ elementos.tipo }}</td>
        <td style="width: 10%">{{ elementos.dioptria }}</td>
        <td style="width: 15%">{{ elementos.lote }}</td>
        <td
          style="width: 10%"
          [ngClass]="vencimiento(elementos.fecha_vencimiento)"
        >
          {{ elementos.fecha_vencimiento | date: "dd/MM/yyyy" }}
        </td>
        <td style="width: 20%">{{ elementos.proveedor }}</td>
        <td style="width: 20%">{{ elementos.estado }}</td>

        <td style="width: 10%">
          <button class="btn btn-danger btn-sm" (click)="quitar(elementos)">
            X
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
